.contents{
	overflow-y: scroll;
	  width: 100%;
  height: 100%;

}
.contents::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}

.navbar-inner{
	background-color: red;
	color: white;

}

.item-title{
	color: red;
}

.center{
	color: white;
}